body {
    font-family: Arial, sans-serif;
    padding: 2% 10%;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0;
    font-size: 1.2em;
}

section {
    margin-bottom: 50px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.project {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.project h3 {
    margin-top: 0;
}
