body {
  background-image: url('https://images.unsplash.com/photo-1690151711465-2bfe4e69f241?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY5MDQ2MzgzMA&ixlib=rb-4.0.3&q=80&w=1080');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

header {
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-top: 50px;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
}

#main-content {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.project {
  margin-bottom: 20px;
}

a:hover {
  text-decoration: underline;
  color: darkblue;
}

h2 {
  font-size: 24px;
}

.project h3 {
  font-size: 20px;
}
