body {
  background-image: url('pxfuel.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-top: 50px;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
}

#main-content {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.project {
  margin-bottom: 20px;
}

a:hover {
  text-decoration: underline;
  color: darkblue;
}

h2 {
  font-size: 24px;
}

.project h3 {
  font-size: 20px;
}

#clock {
  font-size: 26px; 
  font-weight: bold; 
  color: white; 
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

/* Estilos para el menú desplegable */
#header {
  width: 100%; 
  margin: 0; 
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;  // Fondo negro para toda la barra.
}

.nav {
  width: 100%;
  margin: 0;
}

.nav li a {
  background-color: #000; 
}

ul, ol {
  list-style:none;
}

.nav > li {
  float:left;
}

.nav li a {
  background-color:#000;
  color:#fff;
  text-decoration:none;
  padding:10px 12px;
  display:block;
}

.nav li a:hover {
  background-color:#434343;
}

.nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.nav li:hover > ul {
  display:block;
}

.nav li ul li {
  position:relative;
}

.nav li ul li ul {
  right:-140px;
  top:0px;
}

.styled-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.stars {
    display: inline-block;
}
        
.stars::before {
  content: "\2605\2605\2605\2605\2605\2605\2605\2605\2605\2605";
  letter-spacing: 2px;
  font-size: 16px;
  color: #FFD700;  /* Color dorado para las estrellas */
        }
        .skills-list {
          font-size: 1.5em;
          margin-bottom: 30px;
      }
      
      .skills-list li {
          margin-top: 20px;
      }
      
      .stars {
          display: inline-block;
          margin-left: 15px;
          font-size: 24px;
          color: #FFD700;
      }
      
      .three-stars::before {
          content: "\2605\2605\2605";
      }
      
      .six-stars::before {
          content: "\2605\2605\2605\2605\2605\2605";
      }
      
      .seven-stars::before {
          content: "\2605\2605\2605\2605\2605\2605\2605";
      }
      
      .eight-stars::before {
          content: "\2605\2605\2605\2605\2605\2605\2605\2605";
      }
      
      .nine-stars::before {
          content: "\2605\2605\2605\2605\2605\2605\2605\2605\2605";
      }
      
      #index {
          font-size: 1.5em;
          margin-bottom: 40px;
      }
      
      #index ol {
          padding-left: 20px;
      }
      
      #index a {
          text-decoration: none;
          color: #333;
      }
      
      #index a:hover {
          text-decoration: underline;
      }
      .skill-title {
        font-size: 2em;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #555;
        position: relative;
    }
    
    .skill-title::after {
        content: '';
        width: 100px;
        height: 3px;
        background-color: #FFD700;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .nav li ul {
      display:none;
      position:absolute;
      min-width:140px;
      z-index: 1000; /* añade esto */
    }